$def with (error=None, url_reset='/nu')

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/assets/css/clock-style.css" />
  <title>Log in Page</title>

</head>

<body>

  <h1>Log In</h1>
  <br>
  <div id="clockdiv">

    $if error == 'fail':
        <div class="error">Invalid username or password</div>

    $elif error == 'suspended':
        <div class="error">Your account has been suspended</div>



    <div>
      <span class="minutes">
        <form id="form1" action="" method="post" accept-charset="utf-8">

            <p><label for="login"> Username:
                <input type="text" name="username" id="login" maxlength="254" tabindex="1" />
            </label></p>

            <p id="pwd"><label for="auth_passw"> Password:
                <input type="password" name="password" id="password" maxlength="254" tabindex="2" />
            </label></p>

            <br><br><br>

                <button id="b1" type="submit"><p class="start">Log In</p></button>
          </form>
      </span>

      <form id="form2" action="\logout" method="get">
        <button id="b2" type="submit"><p class="stop">New User?</p></button>

      </form>
    </div>


  </div>

</body>

</html>
